@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

/************************************* header navbar ***************************************/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  border-bottom: 0.5px solid #dcf1e5;
}

.navbar .logo {
  font-size: 28px;
  letter-spacing: 3px;
  color: #4a1d1f;
}

.navbar ul {
  display: flex;
  gap: 40px;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar ul li a {
  color: #4a1d1f;
}

.icons {
  display: flex;
  align-items: center;
  gap: 30px;
}

.search-box {
  display: flex;
  align-items: center;
  border: 1px solid #4a1d1f;
  width: 250px;
  height: 45px;
  overflow: hidden;
}

.search-box input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
  color: #b4b4b4;
}

.search-box button {
  position: relative;
  width: 50px;
  height: 100%;
  background-color: #4a1d1f;
  border: none;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.vector {
  position: absolute;
  right: 185px;
  width: 25px;
  height: auto;
  pointer-events: none;
  z-index: 1;
}

/************************************* section ***************************************/
/****************** first-section ******************/
.first-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  align-items: center;
  justify-content: center;
  padding: 0 0 50px 90px;
  gap: 30px;
  background: linear-gradient(to right, #ffffff 0%, #fffdfb 50%, #fef9ed 100%);
}

/* left side of first-content */
.left-side-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  max-width: 600px;
  gap: 30px;
  padding-bottom: 150px;
}

.titlebanner {
  color: #4a1d1f;
  font-size: 42px;
}

.titlebanner-content {
  color: #272727;
  margin-bottom: 20px;
  font-size: 23px;
  max-width: 500px;
}

.button-container {
  display: flex;
  gap: 15px;
}

.order-now {
  background-color: #4a1d1f;
  border: none;
  border-radius: 4px;
  color: #fbedcd;
  width: 160px;
  height: 40px;
  font-size: 18px;
}

.see-all-menus {
  background-color: white;
  border: solid 1px #4a1d1f;
  border-radius: 4px;
  color: #4a1d1f;
  width: 190px;
  height: 40px;
  font-size: 18px;
}

/* right side of first-content */
.right-side-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-container img {
  width: 800px;
  object-fit: cover;
  padding-bottom: 30px;
}

.three-cake-container {
  position: absolute;
  top: 75%;
  left: 62%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.6);
  filter: blur(71%);
  border: none;
  border-radius: 100px;
  gap: 20px;
  width: 80%;
  max-width: 600px;
}

.arrow-container {
  display: flex;
  align-items: center;
}

.s1-left-arrow {
  padding-top: 10px;
}

.index-info {
  color: #4a1d1f;
}

.index-info span {
  font-size: 8px;
  vertical-align: super;
}

.cake-slider {
  display: flex;
  overflow: hidden;
}

.cake-slider img {
  flex: 1;
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

/* bottom side of first-content */

.best-selling-container {
  grid-column: span 2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  text-align: left;
  padding: 20px 0;
}

.promotion {
  color: #4a1d1f;
  font-size: 46px;
  padding-right: 30px;
  white-space: nowrap;
}

.vertical-line {
  height: 130px;
  border: solid 0.5px #4a1d1f;
}

.promotion-p {
  color: #272727;
  max-width: 750px;
  padding-left: 30px;
  font-size: 23px;
}

/****************** second-section ******************/
.second-section {
  text-align: center;
  padding: 40px 0 40px 90px;
}

.product-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-bottom: 20px;
}

.product-card {
  width: 280px;
  background: white;
  border-radius: 15px;
  padding: 10px;
  text-align: left;
}

.product-card img {
  width: 100%;
  height: 330px;
  object-fit: cover;
  border-radius: 10px;
}

.product-name {
  font-size: 22px;
  margin: 10px 0;
  color: #000000;
  max-width: 1000px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 10px;
}

.rating img {
  width: 20px;
  height: 20px;
}

.rating-text {
  font-size: 14px;
  color: #707070;
}

.view-more {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.view-more button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: transparent;
  border: 1px solid #4a1d1f;
  color: #4a1d1f;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 4px;
  position: relative;
  left: -45px;
}

/****************** third-section ******************/
.third-section {
  margin-top: 100px;
  padding: 60px 90px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.baking-container {
  display: flex;
  flex-direction: column;
  gap: 200px;
  width: 100%;
  max-width: 1600px;
}

.baking-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.baking-content .text-content,
.baking-content .image-content {
  flex: 1;
}

.baking-content.reverse {
  flex-direction: row;
}

.text-content {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-content .title {
  font-size: 42px;
  font-weight: 400;
  color: #4a1d1f;
  margin-bottom: 10px;
  max-width: 450px;
}

.text-content p {
  font-size: 20px;
  color: #272727;
  line-height: 1.6;
  margin-bottom: 40px;
  max-width: 600px;
}

.read-more {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 20px;
  color: #4a1d1f;
  text-decoration: none;
}

.image-content {
  flex: 1;
  display: flex;
  justify-content: center;
}

.image-content img {
  width: 100%;
  max-width: 700px;
  height: auto;
  border-radius: 20px;
}

.third-section{
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 50px;
}

.article-1{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.third-section-img-1, .third-section-img-2{
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
}

.text-1, .text-2{
  color: #4a1d1f;
  padding: 10px;
  max-width: 100%;
}

.text-1 p, .text-2 p{
  color: #272727;
}

.article-2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.text-1 h3, .text-2 h3{
  line-height: 40px;
  font-size: 2rem;
  margin-bottom: 2.5rem;
  font-weight: 400;
}

.readmore{
  margin-top: 2rem;
  font-weight: 700;
  cursor: pointer;
  display: flex;
}

.arrowright{
  position: relative;
}

.arrowright::before{
  content: "";
  display: block;
  position: absolute;
  top: 11px;
  left: 2px;
  width: 100px;
  height: 2px;
  background: #4a1d1f;
}

.arrowright::after{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 72px;
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-color: transparent transparent #4a1d1f #4a1d1f;
  transform: rotate(-135deg);  
}

/****************** forth-section ******************/
/* forth-first-content */
.forth-first-content {
  background-color: #fbedcd;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 50px 40px;
}

.subtitle {
  color: #4a1d1f;
}

.subtitle-content {
  color: #272727;
  max-width: 620px;
  text-align: center;
}

.contact-us-now {
  background-color: #4a1d1f;
  color: #f0fdf4;
  border-radius: 6px;
  border: none;
  width: 150px;
  height: 50px;
}

/* forth-second-content */
.forth-second-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 60px 40px;
  text-align: center;
}

.quote-label {
  display: inline-block;
  background-color: #fbedcd;
  color: #4a1d1f;
  font-size: 10px;
  border: none;
  border-radius: 36px;
  padding: 3px 6px;
  margin-bottom: 10px;
}

.quote-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
}

.quote-text {
  color: #272727;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  max-width: 600px;
  position: relative;
  z-index: 1;
}

.quote-img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
}

.quote-img.left {
  left: -40px;
  top: -30px;
}

.quote-img.right {
  right: -43px;
  top: 62px;
}

.author-content img {
  margin-top: 40px;
  width: 60px;
}

.author-name {
  color: #4a1d1f;
  font-weight: 600;
  margin-top: 10px;
}

.author-role {
  color: #272727;
  font-size: 12px;
  margin-top: 5px;
}

.dots {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: #fbedcd;
  border: none;
  border-radius: 50%;
}

.dot.diff {
  background-color: #4a1d1f;
}

/************************************* footer navbar ***************************************/
.footer-content {
  text-align: center;
  background: #fbedcd;
}

.first-ft-content {
  height: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.ft-logo {
  font-size: 28px;
  letter-spacing: 3px;
  color: #4a1d1f;
  padding-left: 150px;
  padding-top: 30px;
}

.ft-navbar ul {
  display: flex;
  padding-right: 150px;
  padding-top: 35px;
  gap: 15px;
}

.ft-navbar ul li {
  margin-left: 40px;
}

.ft-navbar ul li a {
  color: #272727;
  font-size: 20px;
}

hr {
  border: solid 0.5px #d5bea6;
}

.second-ft-content {
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.second-ft-content p {
  color: #272727;
  padding-left: 145px;
  padding-bottom: 60px;
}

.ft-icons {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-right: 180px;
  padding-bottom: 60px;
}
